இந்த வலைப்பதிவை படித்ததற்கு நன்றி. இது உங்களை மகிழ்வித்து இருக்கும் அல்லது சிந்திக்க தூண்டியிருக்குமென நம்புகிறேன். உங்களுக்கு ஏதேனும் கேள்விகளோ அல்லது கருத்துக்களோ இருந்தால் என்னுடைய <a href="mailto:{{ site.email }}">மின்னஞ்சல் முகவரிக்கு</a> எழுதவும். நான் அனைத்தையும் படிப்பேன், பதில் தேவையிருந்தால் பதிலளிக்கிறேன்.
<br/><br/>
தொடர்ந்து என்னுடைய பதிவுகளை பெற <a href="{{ site.url }}/feed">RSS முகவரியை</a> தொடரலாம், அல்லது உங்கள் <a href="{{ site.newsletter }}">மின்னஞ்சலிலும்</a> பெறலாம்.
<br/><br/>
நான் ஒரு புத்தகப்பிரியன். நான் படித்து மகிழ்ந்த, மீண்டும் படிக்கலாம் என்றென்னும் புத்தகங்களின் பட்டியல் <a href="{{ site.url }}/books">இதோ</a>.