---
layout: default
---
<div>
  <h2>{{ page.title }}</h2>
  {{ page.date | date_to_string }}
  <br/><br/>
  <a href="{{ site.url }}">முகப்பு</a>&nbsp;&gt;&nbsp;<a href="{{ site.url }}/categories">தொகுப்புகள்</a>&nbsp;&gt;&nbsp;<a href="{{ site.url }}/category/{{ page.category }}">{{ page.category | camelcase }}</a>
  <br/><br/>
  {{ content }}
  {% include support-local-bookstore.html %}
  <a href="{{ site.url }}">முகப்பு</a>&nbsp;&gt;&nbsp;<a href="{{ site.url }}/categories">தொகுப்புகள்</a>&nbsp;&gt;&nbsp;<a href="{{ site.url }}/category/{{ page.category }}">{{ page.category | camelcase }}</a>
</div>
<div>
  <br/>
  {% include share.html %}
  <br/>
</div>
<div>
  {% if page.previous.url %} 
    <a href="{{page.previous.url}}">&lt;&lt;&nbsp;பழையன</a>
  {% else %}
  பழையன
  {% endif %}
  {% if page.next.url %} 
    <a href="{{page.next.url}}">புதியன&nbsp;&gt;&gt;</a>
  {% else %}
  புதியன
  {% endif %}
</div>
<br/>